*.o
\#*#
*#
.#*
.*~
*~
.DS_Store
*.sw[po]
tags
TAGS
.svn
*.dSYM
*.log
*.dvi
*.aux
*.elc
.zshrc.local
.python-version
samples
.netrwhist
.bundle
/vendor/bundle
Gemfile.lock
node_modules
bower_components
fishd.*
Brewfile.lock.json
.env*
*.bak

# Vim
Session.vim
.vim/bundle/
.vimrc_sample
.vim/ftdetect/Dockerfile.vim
.vim/syntax/Dockerfile.vim
.vim/snippets/
.luarc.json

# Emacs
.emacs.d/el-get/
.emacs.d/eln-cache
.emacs.d/elpa/
.emacs.d/transient/
.emacs.d/url/
.emacs.d/*.elc

# Tmux
.config/tmux/plugins

# Libvirt
.config/libvirt/

# Evremap
.config/evremap/

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.xcworkspace/xcshareddata

# CocoaPods
Pods/

# iTerm2
.config/iterm2/

# docker
.config/cagent/

# Fish local config
.config/fish/conf.d
.config/fish/fish_variables
.config/fish/config-local.fish
.config/fish/fish_variables.x86_64
.config/fish/functions
.config/fish/completions
.config/fish/conf.d/_tide*

# 1Password
.config/1Password/

# 1password cli
.config/op/op-daemon.sock
.config/op/config

# github-copilot
.config/github-copilot/

# Karabiner
.config/karabiner/

# Lazygit
.config/lazygit/state.yml
.config/nvim/lazy-lock.json
.config/nvim/lazyvim.json

# Nvim
vimsession
packer_compiled.lua
nvim.old
nvim.lazy
.luarc.json
nvim-pack-lock.json

# Packer
.config/packer/

# Zed
.config/zed/.tmp*
.config/zed/embeddings
.config/zed/prompts

# Claude Code
.claude/*.local.json

# Antigravity
.antigravitycli
