\#*#
*#
.#*
.*~
*~
.DS_Store

# vim
Session.vim
.vim/bundle/
.vim/ftdetect/Dockerfile.vim
.vim/syntax/Dockerfile.vim
.vim/snippets/
.config/nvim/.netrwhist

# emacs
.emacs.d/.python-environments/
.emacs.d/el-get/
.emacs.d/elpa/
.emacs.d/transient/
.emacs.d/var/

# tmux
.config/tmux/plugins/*

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.xcworkspace/xcshareddata

# CocoaPods
Pods/

# iTerm2
.config/iterm2/

# anyenv
.config/anyenv/

# Fish local config
.config/fish/fish_variables
.config/fish/functions/*
.config/fish/completions/*
.config/fish/conf.d/*
!.config/fish/conf.d/000-env.fish
!.config/fish/conf.d/fish_user_key_bindings.fish
!.config/fish/conf.d/tide.fish

# Karabiner
.config/karabiner/automatic_backups
