*.o
\#*#
*#
.#*
.*~
*~
.DS_Store
*.sw[po]
tags
TAGS
.svn
*.dSYM
*.log
*.dvi
*.aux
*.elc
.zshrc.local
.python-version
samples
.netrwhist
.bundle
/vendor/bundle
Gemfile.lock
node_modules
bower_components
fishd.*

# Vim
Session.vim
.vim/bundle/
.vimrc_sample
.vim/ftdetect/Dockerfile.vim
.vim/syntax/Dockerfile.vim
.vim/snippets/
.luarc.json

# emacs
.emacs.d/el-get/
.emacs.d/elpa/
.emacs.d/transient/
.emacs.d/url/
.emacs.d/*.elc

# tmux
.config/tmux/plugins/*

# libvirt
.config/libvirt/

# evremap
.config/evremap/

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.xcworkspace/xcshareddata

# CocoaPods
Pods/

# iTerm2
.config/iterm2/

# poetry
.config/pypoetry/

# Fish local config
.config/fish/fish_variables
.config/fish/functions/*
.config/fish/completions/*
.config/fish/conf.d/*
!.config/fish/conf.d/000-env.fish
!.config/fish/conf.d/fish_user_key_bindings.fish
!.config/fish/conf.d/fish_user_functions.fish
!.config/fish/conf.d/tide.fish

# 1Password
.config/op/

# github-copilot
.config/github-copilot/

# Karabiner
.config/karabiner/

# nvim
.config/nvim/lazyvim.json
.config/nvim/lazy-lock.json
