#
# $URL$
# $Id$

# Carry out tilde expansion by a tab
set expand-tilde on

# enable meta key
set meta-flag on

# activate 8 bit characters
set input-meta on
set output-meta on
set convert-meta off

# suppress bell ringing
set bell-style none

# Ignore the small and capital letter
$if Bash
set completion-ignore-case on
$endif

# Auto scroll
set horizontal-scroll-mode off

# enable the application keypad
set enable-keypad on

# enable delete page up/down in readline applications
"\e[3~": delete-char
"\e[5~": beginning-of-history
"\e[6~": end-of-history
